/* import 방식 이 방식 보다는 병렬 방식인 link 방식 사용 추천 */
/* @import url("./box.css"); */


/* div {
  width: 200px;
  height: 200px;
  background-color: darkslategrey;
} */
/* body {
  margin: 0px;
} */

.table {
  background-color: aqua;
}
#qqq {
  color: gold;
}