<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head (list)">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('list')"></nav>

    <div class="container-fluid" style="max-width:1400px">
        <h2>DB 리스트 조회</h2>
        <div class="text-right">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    DB 발급
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/board/form}">MySQL</a>
                    <a class="dropdown-item disabled">Redis</a>
                </div>
            </div>
        </div>
        <div>총 건수 : <span th:text="${#lists.size(databaseProcessResList)}"></span> </div>
        <table class="table">
            <thead>
            <tr>
                <th nowrap scope="col">서버 위치</th>
                <th nowrap scope="col">ZONE</th>
                <th nowrap scope="col">이름</th>
                <th nowrap scope="col">설명</th>
                <th nowrap scope="col">DB 정보</th>
                <th nowrap scope="col">발급 요청 결과</th>
                <th nowrap scope="col">생성한 유저</th>
                <th nowrap scope="col">생성 시간</th>
                <th nowrap scope="col">발급 진행 상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="databaseProcessRes : ${databaseProcessResList}">
                <td class="align-middle" th:text="${databaseProcessRes.serverType}">Mark</td>
                <td class="align-middle" th:text="${databaseProcessRes.zone}">Mark</td>
                <td class="align-middle" th:text="${databaseProcessRes.name}">Mark</td>
                <td class="align-middle" th:text="${databaseProcessRes.description}">Mark</td>
                <td>
                    <div class="d-flex flex-wrap" style="width: 300px;">
                        <span class="badge badge-primary align-middle" style="margin: 2px; background-color: white; border: 1px solid #44a6ef; color: #44a6ef; height: 24px; font-weight : normal;" th:each="tag : ${databaseProcessRes.dbTags}" th:text="${tag}">234</span>
                    </div>
                </td>
                <td class="align-middle" th:text="${databaseProcessRes.requestStep}">Mark</td>
                <td class="align-middle" th:text="${databaseProcessRes.createUser}">Mark2</td>
                <td class="align-middle" th:text="${databaseProcessRes.createTime}">Mark1</td>
                <td class="align-middle" style="text-align: center;">
                    <div class="spinner-border text-primary align-middle" role="status" style="display: inline-block;" th:if="${databaseProcessRes.planStatus.toString().equals('ING')}">
                        <span class="sr-only align-middle">Loading...</span>
                    </div>
                    <a class="btn btn-primary" href="#" role="button" th:if="${databaseProcessRes.planStatus.toString().equals('SUCCESS')}">SUCCESS</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>